@page "/calculator"
@rendermode InteractiveServer
@using BlazorWeb.Models
<h3>Calculator</h3>

<div>
    <label>Nhập số a:</label>
    <input type="number" @bind="a" class="form-control" />
</div>

<div>
    <label>Nhập số b:</label>
    <input type="number" @bind="b" class="form-control" />
</div>

<div>
    <label><strong>Kết quả:</strong> @result</label>
</div>

<button class="btn btn-primary" @onclick="Add">Submit</button>

 }
}
@code {

    private double a, b;
    private double result;

    private void Add()
    {
        result = a + b;

    }
}
